.buttonHover:hover{
    background-color: rgba(41, 41, 41, 0.445) !important;
    transform: scale(1.05);
}

.interFont {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }



.tag-success{
    border-radius: 0.5rem; 
    background-color: #8BEE9B;
    color: #1F3A1E;
    padding: 0.07rem;
    padding-inline: 0.5rem;
}


.tag-danger{
    border-radius: 0.5rem; 
    background-color: #FE786F;
    color: #ffffff;
    padding: 0.07rem;
    padding-inline: 0.5rem;
}


.btn-outline-dark{
    background-color: white !important;
}
.btn-outline-dark:hover{
    background-color: black !important;
}


/* Estilize a legenda */
.thumbnail {
position: relative;
}

.desc {
    position: absolute;
    bottom: 0;
    height: 30%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.432);
    color: #fff;
    padding: 5px;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
    cursor: pointer;

}

.thumbnail:hover .desc {
    opacity: 1;
}