<!-- As a link -->
<nav class="navbar bg-dark navbar-dark shadow p-3">
    <div class="container">
        <a class="navbar-brand" href="#">Documenter</a>
    </div>
</nav>

<div>
    <div class="container-fluid">

        <div class="row d-flex justify-content-center mt-5">
            <div class="col-12 text-center">
                <h1>Documenter App</h1>
                <h6>Criar documentações</h6>
            </div>
            
            <div class="col-12 text-center  mt-4">
                <a href="/documentation/new" type="button" class="btn btn-outline-dark mx-2">Nova Documentação</a>
                <a href="/documentation/edit" type="button" class="btn btn-dark mx-2">Editar Documentação</a>
            </div>
        </div>

    </div>
</div>