.hoverIcon:hover {
    opacity: 1;
    font-size: 1.7rem;
}
.hoverIcon {
    opacity: 0.6;
    font-size: 1.5rem;
}


.corpo{
    /* overflow-x: hidden; */
    height: max-content;
}
.tamanho{
    height: 99999999rem;
}

.accordion-button::after{
    color: black !important;
    /* background-image: none !important; */
    filter: grayscale(1);
}
.accordion-button:not(.collapsed){
    color: black;
    background-color: white !important;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(3, 3, 3, 0.25);;
}